<section>
  <div>
    <form [formGroup]="frmAprendices" class="border shadow-lg modal-lg">
      <div class="modal-header bg-primary">
        <h6 class="text-white">Importar registros masivos de aprendices.
        </h6>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <div class="col-sm-5 col-md-5 col-lg-5">
            <label>Ficha:</label>
            <ng-select class="custom-select-background"
                       [items]="listFichas()"
                       bindLabel="textoMostrar"
                       bindValue="id"
                       formControlName="FichaId">
            </ng-select>
            <app-forms-messages [error]="frmAprendices.get('FichaId')" [statusForm]="statusForm"></app-forms-messages>
          </div>
        </div>

        <br>
        <div class="file-upload">
          <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger('click')">
            Importar Archivo
          </button>
          <div class="archivo-upload-wrap">
            <input class="file-upload-input" type='file' (change)="readURL($event);" name="excel_File" id="excel_File"
              required accept=".xlsx" />
            <div class="drag-text">
              <h3>Arrastra el Archivo</h3>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-3" *ngIf="uploadData">
          <button type="button" (click)="removeUpload()" class="btn btn-outline-danger me-2">Quitar Archivo</button>
          <button type="button" (click)="upload()" class="btn btn-outline-success">Subir Archivo</button>
        </div>
        <br>
        <div class="table-responsive table-card">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="table table-bordered table-hover table-striped w-100"></table>
        </div>
      </div>

      <div class="modal-footer">
        <div class="row float-right">
          <div class="col-md-12">
            <!-- <app-botones [botones]="botones" (eventCancel)="cancel()"></app-botones> -->
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
